article p {
  font-size: 14px; }
  @media only screen and (min-width: 768px) {
    article p {
      font-size: 16px; } }

article p.subtitle {
  margin: 15px 0 30px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  @media only screen and (min-width: 768px) {
    article p.subtitle {
      font-size: 1.15rem;
      line-height: 1.65rem; } }

article small.post-meta {
  text-transform: uppercase;
  color: #adb5bd;
  font-size: 9px; }
  @media only screen and (min-width: 768px) {
    article small.post-meta {
      font-size: 11px; } }
  article small.post-meta a {
    color: #adb5bd; }
