.post-preview {
  padding: 0;
  margin: 0;
  color: #212529; }
  .post-preview h4 {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem; }
    @media only screen and (min-width: 768px) {
      .post-preview h4 {
        font-size: 1.15rem;
        line-height: 1.65rem; } }
  .post-preview small.post-meta {
    text-transform: uppercase;
    color: #868e96;
    font-size: 9px; }
    @media only screen and (min-width: 768px) {
      .post-preview small.post-meta {
        font-size: 11px; } }
    .post-preview small.post-meta a {
      color: #868e96; }
  .post-preview p {
    margin: 10px 0 0 0;
    font-size: 14px; }
    @media only screen and (min-width: 768px) {
      .post-preview p {
        font-size: 16px; } }
  .post-preview + hr {
    margin: 30px 0; }
