.card {
  border-radius: 0; }
  .card h4.card-title {
    font-size: 1rem;
    line-height: 1.5rem; }
    @media only screen and (min-width: 768px) {
      .card h4.card-title {
        font-size: 1.15rem;
        line-height: 1.65rem; } }
  .card img {
    border-radius: 0; }
  .card p.card-text {
    margin-top: 15px;
    font-size: 14px; }
    @media only screen and (min-width: 768px) {
      .card p.card-text {
        font-size: 16px; } }
  .card small.post-meta {
    text-transform: uppercase;
    color: #868e96;
    font-size: 9px; }
    @media only screen and (min-width: 768px) {
      .card small.post-meta {
        font-size: 11px; } }
    .card small.post-meta a {
      color: #868e96; }

.portfolio-item {
  margin-bottom: 30px; }

.pagination {
  margin-bottom: 30px; }
  .pagination li.page-item a.page-link {
    color: #495057;
    background: #f8f9fa; }
    .pagination li.page-item a.page-link:hover {
      background: #fff; }
  .pagination li.page-item.active a {
    background: #e9ecef;
    border-color: #dee2e6;
    color: #ced4da; }
    .pagination li.page-item.active a:hover {
      background: #dee2e6; }
